{% extends 'default.html' %}

{% block title %} Billboard {% endblock title %}

{% block content %}

    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Find" />
   </form>

    <hr>
    <table width="1500">
    <tr>
        <td>Title</td>
        <td>Content</td>
        <td>Category</td>
        <td>Time</td>
        <td>Author</td>
        <td>Response</td>
    </tr>
    {% for post in posts %}
        <tr>
            <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
            <td>{{ post.content }}</td>
            <td>{{ post.category }}</td>
            <td>{{ post.time|date:"d-m-Y" }}</td>
            <td>{{ post.author }}</td>
            {% if post.author != request.user %}
                {% if post.response_exists %}
                    <td><a href="{% url 'response_update' post.id %}">Update</a>
                        <a href="{% url 'response_delete' post.id %}">Delete</a></td>
                {% else %}
                    <td><a href="{% url 'response_create' post.id %}">Add</a></td>
                {% endif %}
            {% else %}
                <td>It is your post</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

    {% include "billboard/pagination.html" %}

{% endblock content %}