{% extends 'default.html' %}
{% load custom_tags %}

{% block title %} Billboard {% endblock title %}

{% block content %}
    <table width="800">
    <tr>
        <td>Title</td>
        <td>Content</td>
        <td>Category</td>
        <td>Time</td>
        <td>Author</td>
    </tr>
    {% for post in posts %}
        <tr>
            <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
            <td>{{ post.content }}</td>
            <td>{{ post.category }}</td>
            <td>{{ post.time|date:"d-m-Y" }}</td>
            <td>{{ post.author }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}